# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
.DS_Store
3d-src/.DS_Store
3d-src/dist/.DS_Store
3d-src/node_modules/
